<div [hidden]="submitted" class="container">
    <h1>Página Login</h1>
    {{model | json}}
    <form (ngSubmit)="onSubmit()" #personForm="ngForm">
        <div class="form-group">
            <label for="firstName">Nombre:</label>
            <input type="text" class="form-control" id="firstName" name="firstName" #firstName="ngModel" required [(ngModel)]="model.firstName">
            <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">El nombre es requerido</div>
        </div>
        <div class="form-group">
            <label for="lastName">Apellidos:</label>
            <input type="text" class="form-control" id="lastName" name="lastName" #lastName="ngModel" required [(ngModel)]="model.lastName">
            <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">Los apellidos son requeridos</div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" #email="ngModel" required [(ngModel)]="model.email">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">El email es requerido</div>
        </div>
        <div class="form-group">
            <label for="size">Talla de Camiseta:</label>
            <select class="form-control" name="size" id="size" #size="ngModel" required [(ngModel)]="model.size">
                <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="running-club">Club Running:</label>
            <input type="text" class="form-control" id="running-club" name="running-club" #runningClub="ngModel" [(ngModel)]="model.runningClub">
        </div>
        
        <button type="submit" class="btn btn-success" [disabled]="!personForm.form.valid">Enviar</button>
        <button type="submit" class="btn btn-secondary" (click)="newPerson()">Nueva Persona</button>
        <button type="submit" class="btn btn-secondary" (click)="personForm.reset()">Reset</button>
        <button type="submit" class="btn btn-secondary" (click)="newPerson();personForm.reset()">Nueva Persona y Reset</button>
    </form>
</div>
<button type="button" class="btn btn-primary" (click)="submitted=false">Editar Formulario</button>